# Data Science Ecosystem

##  Author
McKenzie Olivas

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Popular languages in Data Science
- Common Data Science libraries
- Data Science Tools
- Simple Arithementic in Python (for "*style*")

Some of the popular languages that Data Scientists use are:
1. Python
2. Pandas
3. Julia

Some of the commonly used libraries used by Data Scientists include:

1. Plotly
2. PyTorch
3. Seaborn

| Data Science Tools|
|-------|
|R|
|Jupyter|
|TenseFlow|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [5]:
#This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [6]:
#This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335